// Fuentes
$fuente_principal: 'Roboto', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 992px;
$desktop: 1024px;

// Colores
$rojo: #e8505b;
$gris: #455a64; 
$negro: #000;
$blanco: #FFFFFF;
$gris-Claro: #eceeef;

$separacion: 80px;
